/*#mainWindow
{
  background-color:#2F4F4F;
    
    height: 30px;
    margin-top:0;
    margin-left: 0;
}*/

#admins_page
{
    color:white;
    font-size: 20px;
    float: left;
    margin-left: 100px;
    margin-top:7px;
}
#name
{
    color:white;
    font-size: 20px;
    width:100px;
    float: right;
    margin-top: 7px;
    margin-right:10px;
   
    
}

#log_out
{
    float:right;
    font-size: 1.4em;
    margin-top:7px;
    margin-right: 80px;
}

